@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,500;1,400;1,500&display=swap');
*{
    font-family: 'Rubik', sans-serif;
}
h3{
  font-family: Arial,Helvetica,sans-serif;
  position: relative;
  left: 500px;  
}
table{
    width: 1000px;
    position: relative;
    left:230px;
    top: 30px;

}
th{
   text-align: left; 
}
th,
td{
    padding:20px;
}
table,
th,
td{
    border-collapse: collapse;
}
tr:nth-child(even){
    background-color: white;
}
tr:nth-child(odd){
    background-color: #FDF4F4;
}
tr:nth-child(1){
    background-color: rgb(226, 57, 57);
}
.lunch{
    text-orientation: upright;
    writing-mode: vertical-lr;
    text-align: center;
    background-color: white;s
}
body{
    background-color: rgb(243, 179, 189);
}
.student {
    position: relative;
    left: 1120px;
    bottom:56px;
    color:red;
    width: 5px;
    height: 5px;
    font-size: 20px;
}
.courses{
    position:relative;
    left: 1225px;
    bottom:87px;
    color: red;
    width:5px;
    height: 5px;
    font-size: 20px;
}
.contact{
    width: 30px;
    position: relative;
    
    left: 900px;
    
}
.day{
    color:white;
}
.kalvium{
    height: 50px;
    width: 180px;
    position: relative;
    left:140px;
    top: 20px;
}
caption{
    margin-bottom: 20px;
    font-size: 20px;
}
